.champGrid {
    border-radius: 6px;
    border: 2px solid lightgray;
    padding: 20px;
    height: 700px;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
    align-content: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 150px);
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
    
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}

div::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #111
}


