.champContainer {
    background-color: #fff;
    // width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    

    &:hover {
        background-color: rgb(245, 245, 245);
        

        // .tagIcon, .roleIcon {
        //     filter: invert(100%) sepia(93%) saturate(26%) hue-rotate(28deg) brightness(106%) contrast(108%);
        // }

        .champImg {
            border: 2px solid white;
        }

        // .title {
        //     color: white;
        //     font-weight: 700;
        // }
        // .subtitle {
        //     color: white;
        //     font-weight: 400;
        // }
    
        // .tags {
        //     color: white;
        // }
    }

    .wrapper {
        width: 85%;
        display: flex;
        text-align: center;
        gap: 4px;
        flex-direction: column;
        margin-left: 2px;
        margin-right: 2px;

        .iconContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
        }

        .champImg {
            border: 2px solid white;
            box-shadow: 0 3px 10px rgba(224, 224, 224, 0.2);
        }

        .title {
            font-weight: 600;
        }

        .subtitle {
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 500;
            // margin-left: 2px;
            // margin-right: 2px;
        }
    
        .tags {
            margin-top: 2px;
            font-size: 10px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        
            .tag {
                width: 70%;
                background-color: #111;
                padding: 4px 12px 4px 12px;
                border-radius: 16px;
                color: white;
            
                &.fighter {
                    background-color: #F2994A;
                }

                &.mage {
                    background-color: #9B51E0;
                }

                &.marksman {
                    background-color: #2D9CDB;
                }

                &.support {
                    background-color: #F2C94C;
                }

                &.assassin {
                    background-color: #EB5757;
                }
            
                &.tank {
                    background-color: #27AE60;
                }
            }
        
            
        }
    }
}

.champContainerselected {
    background-color: #111;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #111;

        .tagIcon, .roleIcon {
            filter: invert(100%) sepia(93%) saturate(26%) hue-rotate(28deg) brightness(106%) contrast(108%);
        }

        .champImg {
            border: 2px solid white;
        }

        .title {
            color: white;
            font-weight: 700;
        }
        .subtitle {
            color: white;
            font-weight: 400;
        }
    
        .tags {
            color: white;
        }
    }

    .wrapper {
        width: 85%;
        display: flex;
        text-align: center;
        gap: 4px;
        flex-direction: column;
        margin-left: 2px;
        margin-right: 2px;

        .iconContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
        }

        .champImg {
            border: 2px solid white;
            box-shadow: 0 3px 10px rgba(224, 224, 224, 0.2);
        }

        .title {
            font-weight: 600;
        }

        .subtitle {
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 500;
            // margin-left: 2px;
            // margin-right: 2px;
        }
    
        .tags {
            margin-top: 2px;
            font-size: 10px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        
            .tag {
                width: 70%;
                background-color: #111;
                padding: 4px 12px 4px 12px;
                border-radius: 16px;
                color: white;
            
                &.fighter {
                    background-color: #F2994A;
                }

                &.mage {
                    background-color: #9B51E0;
                }

                &.marksman {
                    background-color: #2D9CDB;
                }

                &.support {
                    background-color: #F2C94C;
                }

                &.assassin {
                    background-color: #EB5757;
                }
            
                &.tank {
                    background-color: #27AE60;
                }
            }
        
            
        }
    }

    .tagIcon, .roleIcon {
        filter: invert(100%) sepia(93%) saturate(26%) hue-rotate(28deg) brightness(106%) contrast(108%);
    }

    .champImg {
        border: 2px solid white;
    }

    .title {
        color: white;
        font-weight: 700;
    }
    .subtitle {
        color: white;
        font-weight: 400;
    }

    .tags {
        color: white;
    }
}